.cards-container {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    padding: 20px;
}

.cards-wrapper {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
}

.card {
    background-color: #fff; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
    width: calc(27% - 20px); 
    margin: 10px 0; 
    transition: transform 0.2s; 
}
  
.card:hover {
    transform: scale(1.05); 
}

.card-image {
    width: 100%; 
    height: auto; 
}
  
.card-content {
    padding: 15px; 
}
  
.card-title {
    font-size: 1.5em; 
    font-weight: bold;
    color: #333; 
    margin: 0; 
}
  
.card-subtitle {
    font-size: 1.2em; 
    color: #666; 
    margin: 5px 0; 
}
  
.card-lesson {
    font-size: 1em; 
    color: #444;
    margin-top: 10px; 
}

.cards-container h1 {
    font-size: 50px;
    margin-bottom: 30px;
    
}